@page "/about"

<div class="text-4xl font-bold text-center">About Simple Calculator</div>

<p class="mb-3 text-gray-500 dark:text-gray-400 mt-3">The Simple Calculator is a .NET Blazor WASM PWA application. It is part of my Blazor tutorial series for beginners.</p>

<p class="mb-3 text-gray-500 dark:text-gray-400">This application demonstrates things such as 1) how to create a simple calculator application in Blazor, 2) how to use grid layout to align buttons, and 3) how to handle button events.</p>

